#


Pillow==5.1.0
opencv-python==4.1.0.25
numpy==1.16.2
torch
torchvision
dlib==19.20.0
Keras==2.3.0
tensorflow==2.1.0
imutils==0.5.3
kornia==0.3.1

git+https://github.com/S-aiueo32/lpips-pytorch@d94711e
git+https://github.com/ihor-durnopianov/pytorch_stylegan_encoder@0ea0f88
git+https://github.com/Po-Hsun-Su/pytorch-ssim@d6adfb5
git+https://github.com/ihor-durnopianov/style_gan@4686dcf

# Indirect.  TODO: get rid of
ipython
