#


Pillow==5.1.0
opencv-python==4.1.0.25
numpy==1.16.2
torch
torchvision
dlib==19.20.0
Keras==2.3.0
tensorflow==2.1.0
imutils==0.5.3
kornia==0.3.1

git+https://github.com/S-aiueo32/lpips-pytorch
git+https://github.com/ihor-durnopianov/pytorch_stylegan_encoder
git+https://github.com/Po-Hsun-Su/pytorch-ssim
git+https://github.com/ihor-durnopianov/style_gan
